:root {
  --primary-color: #981cf7;
  --primary-color-transparent: #b14affb7;
  --accent-color: #f47f19;
  --bg-color-grey: #efefef;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0;
}

main {
  background-color: var(--bg-color-grey);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.header {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  min-height: 60vh;
}