.oauth-page {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.oauth-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin: 0px;
}

.small-link {
    display: block;
    font-size: 0.9rem;
    color: var(--primary-color);
    text-decoration: none;
}

.small-link:hover {
    text-decoration: underline;
}